# Starter template for Azure functions build for {{language}} {{appType}}
trigger:
- master
pool:
  vmImage: 'ubuntu-16.04'
steps:
{%- for dependency in dependencies %}
{{ dependency|safe }}
{%- endfor %}
- task: ArchiveFiles@2
  displayName: "Archive files"
  inputs:
    rootFolderOrFile: "$(System.DefaultWorkingDirectory)"
    includeRootFolder: false
    tarCompression: none
    archiveFile: "$(System.DefaultWorkingDirectory)/build$(Build.BuildId).zip"
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)/build$(Build.BuildId).zip'
    name: 'drop'
{%- if settings %}
- task: AzureAppServiceSetAppSettings@2
  inputs:
    ConnectedServiceName: {{ subscription_name }}
    WebAppName: {{ functionapp_name }}
    ResourceGroupName: {{ resource_group_name }}
    AppSettings: "
    {%- for setting in settings -%}
        {{ setting[0]|safe }}='{{ setting[1]|safe }}'
    {%- endfor -%}"
{%- endif %}
